<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1"></meta>
<title>Welcome to Foodybaba</title>
</head>
<body>


<a href="Chick65_Details"><img src="Chicken-65.jpg"  width="600" height="600" ></img></a>
<img src="chicken-biryani.jpg" width="600" height="600" ></img>
<img src="maxresdefault.jpg" width="600" height="600"></img>
</body>
</html>